.border-inputs , .social button , .tabs   {
  border: 1px inset rgba(255, 255, 255, 0.1);
  background-color: rgba(18, 18, 26, 0.95);
  color: var(--color-p);
}

.social button {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}


.social button:hover {
  box-shadow: 0px 0px 10px var(--color-p);
}


.form-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}

/* الفورم اللي ظاهر */
.form-wrapper.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* الفورم اللي مختفي */
.form-wrapper.hide {
  opacity: 0;
  transform: translateX(40px);
  pointer-events: none;
}