#home p {
  color: var(--hover-color);
  font-size: 1.8rem;
}
h1 {
  position: relative;
}

.close {
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  transform: translate(125%, 77%);
  -webkit-transform: translate(125%, 77%);
  -moz-transform: translate(125%, 77%);
  -ms-transform: translate(125%, 77%);
  -o-transform: translate(125%, 77%);
}
.tabs,
.players,
.mod,
.login .card,
.htj {
  background-color: var(--color-bg-secondary);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.tabs button.active {
  background: var(--aniong-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}

.tabs button {
  color: var(--color-p);
  text-transform: uppercase;
}

.players span {
  color: var(--hover-color);
}

.players p span,
.mod span {
  color: var(--color-p);
  font-size: 1rem;
}

.animate-floating {
  animation: floating-subtle 3s ease-in-out infinite;
  -webkit-animation: floating-subtle 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floating-subtle {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
    -webkit-transform: translateY(0) rotate(0deg);
    -moz-transform: translateY(0) rotate(0deg);
    -ms-transform: translateY(0) rotate(0deg);
    -o-transform: translateY(0) rotate(0deg);
}
  50% {
    transform: translateY(-10px) rotate(2deg);
    -webkit-transform: translateY(-10px) rotate(2deg);
    -moz-transform: translateY(-10px) rotate(2deg);
    -ms-transform: translateY(-10px) rotate(2deg);
    -o-transform: translateY(-10px) rotate(2deg);
  }
}
