nav , .mobile ul {
  background: var(--nav-linear);
}

.logo {
  background: var(--aniong-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.links li {
  position: relative;
}

.links li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 2px;
  opacity: 0;
  background: linear-gradient(
    to right,
    rgba(240, 193, 75, 0.3),
    rgba(240, 193, 75, 1),
    rgba(240, 193, 75, 1),
    rgba(74, 0, 224, 1),
    rgba(164, 0, 224, 0.3)
  );
  transition: opacity 0.3s ease-out;
}

.links li a:hover::after {
  opacity: 1;
}

.links li .logo:hover::after {
  opacity: 0;
}

.links li.active a::after {
  opacity: 1;
}

.active {
  color: var(--hover-color);
}

.mobil ul {
  z-index: 9999;
}
